#change-pass-flex{
    /* margin-left: auto;
    margin-right: auto;
    width: 50%;*/ 
    /* padding-left: 30%;
    padding-right: 30%;*/
    border-radius: 15px;
    padding: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: "Kumbh Sans", sans-serif;
    background-color: white;
    display: flex;
    padding-left: 35%; 
    padding-right: 35%;
    font-family: "Kumbh Sans", sans-serif;
    scroll-behavior: smooth; 
}
#change-pass-content{
    width: 100%;
    padding: 20px;
    /* padding-left: 10px; */
    box-shadow: 5px 5px 5px 5px grey;
    border-radius: 10px;
    background: linear-gradient(to right, #bc4e9c, #f80759);
}
input{
    width: 95%;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}
input:hover{
    width: 95%;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 23px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 5px 5px 5px 5px grey;
    transition: 0.4s;
}
label{
    font-size: 20px;
    font-weight: bold;
}
#change-pass-content .error{
    color: black;
}
#change-pas-logo{
    text-align: center;
}
#change-pas-tool{
    text-align: center;
}
#change-pas-tool input{
    height: fit-content;
    width: fit-content;
    font-weight: bold;
    background: linear-gradient(to left, #0cebeb, #20e3b2, #29ffc6);
}
#change-pas-tool input:hover{
    height: fit-content;
    width: fit-content;
    font-weight: bold;
    background: linear-gradient(to right, #fc4a1a, #f7b733);
    box-shadow: 5px 5px 5px 5px grey;
    transition: 0.5s;
}
#change-pas-tool p{
    font-size: 20px;
    font-weight: bold;
}