#profile-flex-container{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: "Kumbh Sans", sans-serif;
    background-color: whitesmoke;
    /* scroll-behavior: smooth; */
    display: flex;
    
}

#profile-flex-container textarea{
    width: 100%;
    height: 70px;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
    box-shadow: 2px 2px 2px 2px grey;
}

#profile-flex-container input{
    width: 100%;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 3px;
    padding-left: 5px;
    
}


#profile-flex-container input:hover{
    width: 100%;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 25px;
    transition: 0.5s;
    box-shadow: 5px 5px 5px 5px grey;
}
#profile-basicInfo{
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
    background-color: rgb(250, 202, 202);
}

#profile-contactInfo{
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
    background-color: aliceblue;

}
#profile-accountInfo{
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
    background-color: rgb(212, 248, 248);
}
fieldset{
    border: none; 
}
legend{
    font-weight: bold;
    font-size: 25px;
}

#profile-accountInfo img{
     
    padding: 60px;
   
}
img{
   
    /* padding-left: 30%;
    padding-right: 30%;
    padding-top: 10%;
    padding-bottom: 30%; */
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

img:hover{
   
    /* padding-left: 30%;
    padding-right: 30%;
    padding-top: 10%;
    padding-bottom: 30%; */
    background-color: black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    transition: 0.5s;
    box-shadow: 2px 2px 2px 2px grey;
}

#profile-accountInfo a{
    padding: 25px;
    font-size: 30px;
    text-decoration: none;
    color: blue;
}
#profile-name{
    text-align: center;
}
.profile-gap{
    width: 40px;
}

select{
    width: 100%;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}

select:hover{
    width: 100%;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 23px;
    border-radius: 5px;
    padding: 5px;
    transition: 0.5s;
    box-shadow: 5px 5px 5px 5px grey;
}
#edit-profile-gender input{
    width: 10%;
}

#edit-profile-gender input:hover{
    width: 10%;
}
#male{
    font-size: larger;
}
label{
    font-weight: bold;
}
.button{
    padding-top:10px;
    text-align: center;
}
.button #submitProfileButton{
    height: 60px;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    background: linear-gradient(to right, #ffe259, #ffa751);
}
.button #submitProfileButton:hover{
    height: 80px;
    width: 180px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    background: linear-gradient(to right, #ffe259, #ffa751);
    transition: 0.5s;
}
.edit-profile-msg{
    padding-top: 9px;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
